<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= f.label :user_id %>
      <%= f.text_field :user_id %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :encrypted_password, "Password" %>
      <%= f.password_field :encrypted_password %>

      <%= f.label :name_first, "First Name" %>
      <%= f.text_field :name_first %>

      <%= f.label :name_last, "Last Name" %>
      <%= f.text_field :name_last %>

      <%= f.label :city, "City" %>
      <%= f.text_field :city %>

      <%= f.label :country, "Country" %>
      <%= f.text_field :country %>

      <%= f.label :postcode, "Postcode" %>
      <%= f.text_field :postcode %>


      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

